html {
  height: 100%;
}

#form-container {
  width: 100%;
  max-width: 24em;
}

#form-container {
  border: 1px solid;
  border-radius: 5px;
}

@media(max-width: 425px){
  #searchForm {
    width: 100%;
    margin-top: 5px;
  }

  #createButton {
    width: 100%;
  }
}